<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Contact List</title>
    </head>
    <body>
        <h1 align="center">Contact list</h1>
        <table border="1" align="center">
            <tr>
                <td>Name</td>
                <td>Mobile</td>
                <td>Vpmn</td>
                <td>Address</td>
            </tr>
            <tr>
                <td>Shihang</td>
                <td>15235432994</td>
                <td>652994</td>
                <td>Taiyuan</td>
            </tr>
            <tr>
                <td>Xiaobai</td>
                <td>15235432994</td>
                <td>652994</td>
                <td>Taiyuan</td>
            </tr>
            <tr>
                <td>Shuangshuang</td>
                <td>15235432994</td>
                <td>652994</td>
                <td>Taiyuan</td>
            </tr>
        </table>
    </body>
</html>